// Default Layout

body {
  font-family: Lato, Arial, sans-serif;
}

header {
  margin: 0 auto;
  max-width: 992px;
}

h1 {
  @include hiddenText;
  background: url(../img/iot-university-logo.svg) 0 0 no-repeat;
  background-size: contain;
  display: block;
  height: 90px;
}

#mainBody {
  background: url(../img/Spaceship4C.jpg) -330px 0 no-repeat;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 992px;
  position: absolute;
  right: 0;
  top: 100px;

  &:before {
    background-color: #3d4647;
    content: '';
    display: block;
    height: 100%;
    opacity: .55;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  h2 {
    color: $white;
    float: right;
    font-weight: normal;
    margin: 7rem 2rem 0 450px;
    position: relative;
    z-index: 3;
  }

  @include bp(baby-bear) {
    background-position: -500px -200px;

    h2 {
      float: none;
      text-align: center;
      margin: 3rem 0;
    }

  }
}

article {
  background: $teal;
  color: $white;
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  width: 400px;
  top: 0;
  z-index: 3;

  @include bp(baby-bear) {
    top: 150px;
    width: 100%;
  }

  p {
    padding: 3rem 2rem 1.5rem;
  }

  legend {
    @extend %visuallyhidden;
  }

  fieldset {
    border: none;
    padding: 0 2rem;
  }

  input, button {
    border-radius: 5px;
    box-shadow: 2px 2px 5px $greyDark;
    display: inline-block;

    @include bp(tiny-bear) {
      display: block !important;
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  input {
    color: $greyDark;
    margin-right: 1rem;
    padding: .7rem;

    @include bp(tiny-bear) {
      width: 91%;
    }
  }
}

footer {
  bottom: 0;
  color: $white;
  left: 0;
  margin: 0 auto;
  max-width: 992px;
  position: absolute;
  right: 0;
  z-index: 3;

  p {
    background: url(../img/ptc-logo.svg) right 0 no-repeat;
    background-size: contain;
    display: block;
    height: 30px;
    font-size: 80%;
    margin: 0 2rem 1rem;
  }
}
