// Default Layout

body {
  display: flex;
  flex-direction: column;
  font-family: Lato, Arial, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

h1 {
  @include hiddenText;
  background: url(../img/iot-university-logo.svg) 0 0 no-repeat;
  background-size: contain;
  display: block;
  height: 90px;
  width: 300px;

  @include bp(baby-bear) {
    width: auto;
  }
}

#mainBody {
  background: url(../img/Spaceship4C.jpg) right 0 no-repeat;
  display: flex;
  flex: 1;
  margin: 0;
  position: relative;

  &:before {
    background-color: #3d4647;
    content: '';
    height: 100%;
    opacity: .55;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  header {
    flex: 1;
  }

  h2 {
    color: $white;
    font-weight: normal;
    margin: 7rem 1rem 0 45px;
    position: relative;
    z-index: 3;

    @include bp(baby-bear) {
      border: 0;
      clip: rect(0 0 0 0);
      position: absolute;
      overflow: hidden;
      margin: -1px;
      padding: 0;
      width: 1px;
      height: 1px;
    }
  }
}

article {
  background: $teal;
  color: $white;
  padding-top: 3rem;
  flex: 0 0 22em;
  order: -1;
  z-index: 3;

  @include bp(tiny-bear) {
    flex: none;
    width: 100%;
  }

  p {
    padding: 0 2rem 1rem;
  }

  legend, label {
    @extend %visuallyhidden;
  }

  fieldset {
    border: none;
    margin-bottom: 3rem;
    padding: 0 2rem;
  }

  input, button {
    border-radius: 5px;
    box-shadow: 2px 2px 5px $greyDark;
    display: inline-block;

    @include bp(tiny-bear) {
      display: block !important;
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  input {
    color: $greyDark;
    margin-right: .2rem;
    padding: .7rem 4%;

    @include bp(tiny-bear) {
      width: 92%;
    }
  }
}

#courseList {
  list-style: none;
  margin-top: 0;
  padding: 0 2rem;

  li {
    line-height: 130%;
    margin-bottom: .8rem;
  }
}

p+p {
  text-indent: 0;
}

footer {
  bottom: 0;
  color: $white;
  left: 0;
  margin: 0 auto;
  max-width: 1920px;
  position: absolute;
  right: 0;
  z-index: 3;

  p {
    background: url(../img/ptc-logo.svg) right 0 no-repeat;
    background-size: contain;
    display: block;
    height: 30px;
    font-size: 80%;
    margin: 0 2rem 1rem;

    @include bp(tiny-bear) {
      background: none;
      text-align: center;
    }
  }
}
